.ViewPage {
  background-color: black;
}

.ViewBodyTop {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  top: 0px;
  height: 175px;
  border-bottom: white 1px solid;
  margin-bottom: 10px;
  position: fixed;
  background-color: black;
  z-index: 10;
  width: 100%;
}

.ViewBodyNameColumn {
  width: 150px;
  vertical-align: top;
  display: inline-block;
}

.ViewFooter {
  position: fixed;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #000000;
  border-top: white;
  border-width: 1px;
  border-top-style: solid;
}

.ViewImageColumn {
  height: 220px;
  width: 280px;
  display: inline-block;
}

.ViewBodyBottom {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin-top: 195px;
  padding-top: 10px;
}