:root {
  /* Office UI Fabric Colors */
  --color-themeDarker: #004578;
  --color-themeDark: #005a9e;
  --color-themeDarkAlt: #106ebe;
  --color-themePrimary: #0078d7;
  --color-themeSecondary: #2b88d8;
  --color-themeTertiary: #71afe5;
  --color-themeLight: #c7e0f4;
  --color-themeLighter: #deecf9;
  --color-themeLighterAlt: #eff6fc;
  --color-neutralDark: #212121;
  --color-neutralPrimary: #333333;
  --color-neutralSecondary: #666666;
  --color-neutralSecondaryAlt: #767676;
  --color-neutralTertiary: #a6a6a6;
  --color-neutralTertiaryAlt: #c8c8c8;
  --color-neutralQuaternary: #d0d0d0;
  --color-neutralQuaternaryAlt: #dadada;
  --color-neutralLight: #eaeaea;
  --color-neutralLighter: #f4f4f4;
  --color-neutralLighterAlt: #f8f8f8;
  --color-alert: #d83b01;
  --color-alertBackground: #deecf9;
  --color-black: #000000;
  --color-blackTranslucent40: rgba(0,0,0,.4);
  --color-blue: #0078d7;
  --color-blueDark: #002050;
  --color-blueLight: #00bcf2;
  --color-blueMid: #00188f;
  --color-error: #a80000;
  --color-errorBackground: #fde7e9;
  --color-green: #107c10;
  --color-greenDark: #004b1c;
  --color-greenLight: #bad80a;
  --color-info: #107c10;
  --color-infoBackground: #f4f4f4;
  --color-magenta: #b4009e;
  --color-magentaDark: #5c005c;
  --color-magentaLight: #e3008c;
  --color-orange: #d83b01;
  --color-orangeLight: #ff8c00;
  --color-orangeLighter: #ea4300;
  --color-purple: #5c2d91;
  --color-purpleDark: #32145a;
  --color-purpleLight: #b4a0ff;
  --color-red: #e81123;
  --color-redDark: #a80000;
  --color-success: #107c10;
  --color-successBackground: #dff6dd;
  --color-teal: #008272;
  --color-tealDark: #004b50;
  --color-tealLight: #00b294;
  --color-white: #ffffff;
  --color-whiteTranslucent40: rgba(255,255,255,.4);
  --color-yellow: #ffb900;
  --color-yellowLight: #fff100;

  /* Custom colors */
  --color-yellow-darker: #EEAC04;
  --color-yellow-darkest: #9E7203;
  --color-yellow-lighter: #FFE7A4;
  --color-botchat-grey: #dbdee1;
  --color-wc-user: #3a96dd;
  --color-wc-bot: #eceff1;
  --gutter-width: 100px;
  --nav-link-padding: 1em 2em;
}

.ButtonThin {
  margin: 20px;
  height: 25px !important;
  border-radius: 15px !important;
  background-color: var(--color-themePrimary) !important;
  color: white !important;
}

.App {
  text-align: center;
  background-color: black;
  height: 1000px;
}


.AppPage {
  padding-top: 200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.DetailText {
  text-align: left
}

.DetailTitle {
  text-transform: uppercase;
  font-size: 10px;
  color: var(--color-themeLight);
}

.DetailText {
  font-size: 14px;
  padding: 3px;
  color: var(--color-white);
}

.FilterPage {
  background-color: black;
  padding-top: 15px;
  height: 1000px;
}

.FilterList {
  height: 300px;
  overflow-y: scroll;
  width: 250px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

.FilterCheckbox {
  display: inline-block !important;
}

.FilterCheckbox:checked {
  background-color: #ff0000 !important
}

.FilterName {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-left: 5px;
  color: white;
}

.FilterNumber {
  display: inline-block;
  width: 20px;
  color: white;
}

.LibraryBody {
  margin-left: auto;
  margin-right: auto;
}

.LibraryImageColumn {
  width: 200px;
  display: inline-block;
}

.LibraryImageTitle {
  color: white
}

.LibraryImageCount {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin: 5px;
  width: 50px;
}

.LibraryTagsColumn {
  width: 150px;
  display: inline-block;
}

.LibraryTagUnselected {
  color: var(--color-neutralTertiary)
}

.LibraryTagSelected {
  font-weight: bold;
  color: var(--color-white)
}

.LibraryTagList {
  height: 150px;
  overflow-y: auto;
  width: 80px;
  overflow-x: hidden;
  display: inline-block;
  font-size: 12px;
  color: white;
  text-align: left;
}

.ImageButton {
  height: 25px !important;
  border-radius: 15px !important;
  background-color: var(--color-themePrimary) !important;
  color: white !important;
  margin: 5px;
}

.QuizTimer {
    color: #ffffff;
    background-color: #555555;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 13px;
    height: 30px;
    border-radius: 5px;
}

.QuizButton {
  margin: 20px;
  height: 50px !important;
  border-radius: 15px !important;
  background-color: var(--color-themePrimary) !important;
  color: white !important;
}

.QuizQuitButton {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 100px;
  border-radius: 10px !important;
  background-color: var(--color-themeDarker) !important;
  color: var(--color-themeTertiary) !important;
}

.QuizPage {
  background-color: black;
  height: 1000px;
  padding-top: 15px;
}

.QuizImageHolder{
  margin-left: auto;
  margin-right: auto;
}

.QuizNameOverlay{
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  margin-top: -50px;
  height: 50px;
  padding-top: 7px;
  font-size: x-large;
}
