.ViewBodyTop {
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

.ViewBodyNameColumn {
  height: 220px;
  width: 150px;
  vertical-align: top;
  display: inline-block;
}

.ViewImageColumn {
  height: 220px;
  width: 200px;
  display: inline-block;
}

.ViewBodyBottom {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}